.header {
    display: flex;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  @keyframes rotation {
    0% {transform:rotate(0deg);}    
    100% {transform:rotate(360deg);}      
  }