.kaufman{
    position: relative;
    display: flex;
    padding: 90px 0 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f1f1f;
    overflow: hidden;
  }